<form action ="/results" method = "get">
	<fieldset>
		<legend> GET checker </legend>
		<input type = "text" name ="get"> </input>
		<input type ="submit"> </input>
	</fieldset>
</form>

<form action ="/results" method = "post">
	<fieldset>
		<legend> POST Checker</legend>
		<input type = "text" name ="post"> </input>
		<input type ="submit"> </input>
	</fieldset>
</form>