<h1> The current count for this session is {{context}} . </h1>

<form action ="/count" method = "post">
	<fieldset>
		<input type ="submit" name ="resetCount" value ="resetCount"> </input>
	</fieldset>
</form>